.currency-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--form-background);
  border-radius: var(--radius);
}

.currency-input-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.currency-input-info {
  color: var(--secondary-text-color);
  font-size: var(--secondary-text-font-size);
}
