.currency-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--form-background);
  border-radius: var(--radius);
}

.currency-input-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.currency-input-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-big) var(--padding) var(--padding-big);
  font-size: var(--secondary-text-font-size);
}

.currency-input-balance {
  color: var(--secondary-text-color);
}

.currency-input-error {
  text-align: right;
  color: var(--danger-color);
}

.amount-input {
  border: 0 none;
  background: var(--form-background);
  padding: var(--padding-form-item);
  border-radius: var(--radius);
  font-size: var(--text-font-size);
  font-weight: 600;
  text-align: right;
}

.amount-input:focus {
  outline: none;
}
