.exchange-rate {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin: var(--margin-big) 0;
  color: var(--link-color);
  font-weight: 600;
}

.exchange-rate-chart-icon {
  margin-right: var(--margin);
  width: 16px;
}

.exchange-rate-data {
  flex: 1;
}
