:root {
  --background: #f7f7f7;
  --primary-color: #2166e6;
  --primary-color-inverted: #f0f9fa;

  --secondary-color: #b8bac0;
  --secondary-color-inverted: #181818;

  --primary-text-color: #181818;
  --secondary-text-color: #9b9c9e;
  --link-color: #3876dd;
  --danger-color: #c74f4e;

  --hairline-color: #f0f9fa;
  --form-background: #ffffff;
  --skeleton-color: #eeeeee;

  --padding: 8px;
  --padding-form-item: 8px 16px;
  --padding-big: 16px;

  --margin: 8px;
  --margin-big: 16px;

  --radius: 16px;

  --title-font-size: 24px;
  --capion-font-size: 20px;
  --text-font-size: 16px;
  --secondary-text-font-size: 12px;
  --small-text-font-size: 8px;
}

.App {
  background: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 100%;
  height: 100%;
}

.skeleton {
  background: var(--skeleton-color);
}

.skeleton:before {
  content: "";
  display: block;

  height: 100%;
  width: 100%;

  background: linear-gradient(
      0.25turn,
      transparent,
      var(--form-background),
      transparent
    ),
    linear-gradient(var(--skeleton-color), var(--skeleton-color)),
    radial-gradient(
      38px circle at 19px 19px,
      var(--skeleton-color) 50%,
      transparent 51%
    ),
    linear-gradient(var(--skeleton-color), var(--skeleton-color));

  background-repeat: no-repeat;
  background-size: 315px 250px, 315px 180px, 100px 100px, 225px 30px;
  background-position: -315px 0, 0 0, 0px 190px, 50px 195px;

  animation: skeleton 1s cubic-bezier(0.4, 0, 0.2, 1) alternate infinite;
}

@keyframes skeleton {
  to {
    background-position: 100% 0, 0 0, 0 190px, 50px 195px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
