:root {
  --background: #f7f7f7;
  --primary-color: #2166e6;
  --primary-color-inverted: #f0f9fa;

  --secondary-color: #b8bac0;
  --secondary-color-inverted: #181818;

  --primary-text-color: #181818;
  --secondary-text-color: #9b9c9e;
  --link-color: #3876dd;
  --danger-color: #c74f4e;

  --hairline-color: #f0f9fa;
  --form-background: #ffffff;

  --padding: 8px;
  --padding-form-item: 8px 16px;
  --padding-big: 16px;

  --margin: 8px;
  --margin-big: 16px;

  --radius: 16px;

  --title-font-size: 24px;
  --capion-font-size: 20px;
  --text-font-size: 16px;
  --secondary-text-font-size: 12px;
  --small-text-font-size: 8px;
}

.App {
  background: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
